.game {
    width: 255px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    margin: auto;
    font-weight:bolder;
    
}
 
.title{
    background-color:rgb(97, 6, 150) ;
    padding: 5px 0;
    margin: 5px 0;
}
span {
color: rgb(233, 174, 247);
}
.square{
    width: 80px;
    height: 80px;
    margin: 2px;
    background:rgb(162, 0, 255) ;
    float:right;
    font-size: 70px;
    text-align: center;
    
}
.square:hover{
    background-color:rgb(69, 67, 70) ;
    cursor: pointer;
}